name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check if previous workflow succeeded
        if: ${{ github.event.workflow_run.conclusion != 'success' }}
        run: |
          echo "CI failed, skipping deployment"
          exit 1

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Ansible
        run: sudo apt update && sudo apt install -y ansible

      # ... reste de ton deploy
