name: Deploy Pipeline

# Déclenche le workflow sur push sur main ou manuel
on:
  push:
    branches: [main]
  workflow_dispatch:   # permet de lancer le deploy manuellement

env:
  NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
  EC2_HOST: ${{ secrets.EC2_HOST }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # 1️⃣ Checkout du code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Installer Ansible
      - name: Install Ansible
        run: sudo apt update && sudo apt install -y ansible

      # 3️⃣ Charger la clé SSH
      - name: Load SSH key
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      # 4️⃣ Vérifier la connexion SSH
      - name: Test SSH connection
        run: ansible -i ansible/inventory.ini webserver -m ping

      # 5️⃣ Lancer le playbook Ansible
      - name: Run Ansible Playbook
        run: ansible-playbook -i ansible/inventory.ini ansible/deploy.yml
