name: CI Pipeline

env:
  NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}


on:
  push:
    branches: [main]
  pull_request:

jobs:

  
  # -------------------------
  # 4️⃣ Déploiement via Ansible
  # -------------------------
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3

      # Installer Ansible
      - name: Install Ansible
        run: sudo apt update && sudo apt install -y ansible

      # Charger la clé SSH pour EC2
      - name: Load SSH key
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      # Définir l'IP du serveur via secret
      - name: Run Ansible Playbook
        run: ansible-playbook -i ansible/inventory.ini ansible/deploy.yml
