name: CI Pipeline

env:
  NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}


on:
  push:
    branches: [main]
  pull_request:


  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Ansible
        run: sudo apt update && sudo apt install -y ansible
      - name: Load SSH key
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}
      - name: Run Ansible Playbook
        run: ansible-playbook -i ansible/inventory.ini ansible/playbook_deploy.yml
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
